﻿@model EmployeeManager.Models.Employee

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminación de empleado en proceso...</h2>

<h3>¿Está seguro que quiere eliminar el siguiente registro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Deparment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deparment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-info" }) | 
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </div>
    }
</div>
