﻿@model IEnumerable<EmployeeManager.Models.Employee>

@{
    ViewBag.Title = "Empleados";
}
<p>
    @Html.ActionLink("Nuevo empleado", "Create", null, new { @class="btn btn-success"}) | 
    @Html.ActionLink("Generar datos de prueba", "SeederGenerator", null, new { @class = "btn btn-default" })
</p>

<span class="@TempData["class"]">@TempData["message"]</span>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("SearchString", null, new { @class = "input-sm" })
        <input type="submit" value="Buscar" class="btn btn-default"/>
    </p>
}

<table class="table table-responsive table-striped table-bordered table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deparment.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deparment.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EmployeeId }, new { @class="btn btn-sm btn-primary"}) |
                @Html.ActionLink("Detalle", "Details", new { id = item.EmployeeId }, new { @class = "btn btn-sm btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.EmployeeId }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>
